@use "./tools.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&family=Inter:wght@100;400&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@100;900&family=Playfair+Display&family=Public+Sans:wght@300&family=Roboto:wght@300&family=Rubik:wght@300&display=swap');
*,::after,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: $text_color;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.newsletter-wrappper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $body_color;
    margin: auto;
    padding: 2em;
    border-radius: 1em;
  
    
    .details{
        align-self: self-start;
        width: 50%;
        padding: 2em 0 0 2em;
        
        h1{
            font-weight: 900;
            font-size: 3.5rem;
            line-height: 2em;
        }
        

        ul{
            line-height: 2em;
            margin: 1.5em 0;

            li{
                list-style: none;
                display: flex;
                gap: 1em;
                align-items: center;

              img{
                max-width: 5%;
                
              }
                // input[type="checkbox"]{
                //     position: relative;
                    
                // }
                // input[type="checkbox"]::before{
                //     content: "";
                //     border: .2em solid $hover_btn-color;
                //     border-radius: 50%;
                //     width: 2px;
                //     height: 2px;
                //     display: inline-block;
                //     padding:.4em;
                //     position: absolute;
                //     transform: translate(-.2em,-.2em);
                    
                //     z-index: 1;
                // }
                // input[type="checkbox"]:checked{
                //     background-color: red;
                // }
            }
            
           
        }
        #form{
            padding: 1em 0;
        }
        label{
            display: block;
            font-weight: 900;
            line-height: 1.5em;
        }
        input[type="email"]{
            width: 100%;
            padding: 1em;
            border-radius: .5em;
            margin: .5em 0;
            outline: unset;
            border: .1em solid $text_color;
            &:hover{
                outline-color: $hover_btn-color;
                border-color: $hover_btn-color;
            }
        }
        .subscribe_btn{
          @include Btn;
          margin: 2em 0;
        }
        
    }

    .image-container{
     
       
        img{
            max-width: 100%;
            
        }
    }
}

//MODAL STYLE
.modal-container{
    display: none;
    overflow: hidden;
    
}
.modal{
width: 100%;
position: absolute;
height: 100vh;
display: flex;
justify-content: space-between;
align-items: center;
transform: translateX(-12.25%);

position: fixed;
top: 0;
background-color: $text_color;
    .success-modal{
        display: block;
        width: 25%;
        padding: 2em;
        border-radius: .5em;
        margin: auto;
        background-color: $body_color;
        z-index: 1;
        
        p{
            padding: 1em 0
        }
    
        
        &_dismiss_btn{
            @include Btn;
            
        }
        .success-modal .block{
            display: block;
        }
    }
}


@media screen and (max-width:35em) {
    .newsletter-wrappper{
        flex-direction: column-reverse;
        padding: 0em;
        width: 100%;
        .details{
            width: 100%;
            padding: 2em;
            h1{
                font-size: 2.5rem;
                font-weight: bolder;
            }
            h2{
                font-size: 1rem;
            }
           
            li{
                font-weight: bold;
                line-height: 1.2em;
                padding: 0.5em 0;
                img{
                    align-self: flex-start;
                
                }
            }
        }
    }

    .modal{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        img{
            padding: 1em 0;
        }
        p{
            font-size: 1.2em;
            padding: 1em 0em 10em;
            line-height: 1.2em;
        }
        .success-modal{
            width: 100%;
            height: 100vh;

        }
    }

}
