@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&family=Inter:wght@100;400&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@100;900&family=Playfair+Display&family=Public+Sans:wght@300&family=Roboto:wght@300&family=Rubik:wght@300&display=swap");
*, ::after, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(235, 18%, 26%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.newsletter-wrappper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  padding: 2em;
  border-radius: 1em;
}
.newsletter-wrappper .details {
  align-self: self-start;
  width: 50%;
  padding: 2em 0 0 2em;
}
.newsletter-wrappper .details h1 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 2em;
}
.newsletter-wrappper .details ul {
  line-height: 2em;
  margin: 1.5em 0;
}
.newsletter-wrappper .details ul li {
  list-style: none;
  display: flex;
  gap: 1em;
  align-items: center;
}
.newsletter-wrappper .details ul li img {
  max-width: 5%;
}
.newsletter-wrappper .details #form {
  padding: 1em 0;
}
.newsletter-wrappper .details label {
  display: block;
  font-weight: 900;
  line-height: 1.5em;
}
.newsletter-wrappper .details input[type=email] {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  outline: unset;
  border: 0.1em solid hsl(235, 18%, 26%);
}
.newsletter-wrappper .details input[type=email]:hover {
  outline-color: hsl(4, 100%, 67%);
  border-color: hsl(4, 100%, 67%);
}
.newsletter-wrappper .details .subscribe_btn {
  background-color: hsl(234, 29%, 20%);
  font-weight: bolder;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  margin: 2em 0;
}
.newsletter-wrappper .details .subscribe_btn:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
.newsletter-wrappper .image-container img {
  max-width: 100%;
}

.modal-container {
  display: none;
  overflow: hidden;
}

.modal {
  width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-12.25%);
  position: fixed;
  top: 0;
  background-color: hsl(235, 18%, 26%);
}
.modal .success-modal {
  display: block;
  width: 25%;
  padding: 2em;
  border-radius: 0.5em;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
}
.modal .success-modal p {
  padding: 1em 0;
}
.modal .success-modal_dismiss_btn {
  background-color: hsl(234, 29%, 20%);
  font-weight: bolder;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
}
.modal .success-modal_dismiss_btn:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
.modal .success-modal .success-modal .block {
  display: block;
}

@media screen and (max-width: 35em) {
  .newsletter-wrappper {
    flex-direction: column-reverse;
    padding: 0em;
    width: 100%;
  }
  .newsletter-wrappper .details {
    width: 100%;
    padding: 2em;
  }
  .newsletter-wrappper .details h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .newsletter-wrappper .details h2 {
    font-size: 1rem;
  }
  .newsletter-wrappper .details li {
    font-weight: bold;
    line-height: 1.2em;
    padding: 0.5em 0;
  }
  .newsletter-wrappper .details li img {
    align-self: flex-start;
  }
  .modal {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
  .modal img {
    padding: 1em 0;
  }
  .modal p {
    font-size: 1.2em;
    padding: 1em 0em 10em;
    line-height: 1.2em;
  }
  .modal .success-modal {
    width: 100%;
    height: 100vh;
  }
}/*# sourceMappingURL=style.css.map */